{% extends "layout/base.html.twig" %}

{% block windowtitle %}新規登録{% endblock %}
{% block title %}新規登録{% endblock %}

{% block main %}
    <form method="POST" action="{{ action }}">
        <dl>
            <dt>ID</dt>
            <dd><input type="text" name="id" value="{{ id }}"></dd>
            <dt>Password</dt>
            <dd><input type="password" name="pw"></dd>
            <dt>Name</dt>
            <dd><input type="text" name="name"></dd>
            <dt>User Type</dt>
            <dd>
                <label for="student">学生</label>
                <input type="radio" id="student" name="type" value="student">
                <label for="teacher">教員</label>
                <input type="radio" id="teacher" name="type" value="teacher">
            </dd>
        </dl>
        <input type="hidden" name="csrf_token" value="{{ token }}">
        <button type="submit">登録</button>
    </form>
{% endblock %}