{% extends "layout/base.html.twig" %}

{% block main %}
        <main>
            <div>
                {% block contents %}no contents{% endblock %}
            </div>
        </main>
{% endblock %}